@attribute [Authorize]
@page "/"

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">[DSR NetSchool] Курсовой проект</MudText>
<MudText Typo="Typo.h4" Class="mb-8">Онлайн магазин цветов</MudText>
<p>
<u> Описание задачи:</u>
</p>
<p>
    Разработать Web API, позволяющее организовать онлайн-магазин по продаже цветов. 
    Внешний клиент хочет воспользоваться API для организации продаж цветов. Он регистрируется в API и получает свой уникальный номер. При помощи данного номера клиент может управлять собственными группами цветов и управлять списком продаваемых цветов в них. Здесь он может также указать параметры цветов, прикрепить фотографию, указать цену. Каждый клиент работает в своем информационном пространстве, которое не пересекается с другими клиентами. После настройки справочников цветов можно создавать заказы на букеты. Сначала регистрируется букет, затем в него добавляются цветы. При желании состав и количество цветов можно менять. Система должна позволять получить информацию о заказе, чтобы данный букет можно было собрать или показать заказ покупателю вместе с итоговой ценой. После того, как покупатель собрал букет он может отправить его на сборку. Оплату планируется принимать по факту получения заказа в офисе клиента данной системы или в момент доставки.
</p>
