<MudStack Row AlignItems="AlignItems.Center">
    <MudText Typo="Typo.h1" Class="mb-1">404</MudText>
    <div>
    <MudText Typo="Typo.h4" Class="mb-1">NOT FOUND</MudText>
    <MudText Typo="Typo.body2" Class="mb-1">The page you have requested could not be found. <MudLink Href="/">Return to the home page.</MudLink> </MudText>
    </div>
</MudStack>

@code {

}
