@inherits LayoutComponentBase
@inject IConfigurationService ConfigurationService

<MudThemeProvider @bind-IsDarkMode="@(_darkMode)" />

<MudLayout>
    <MudAppBar Elevation="0">
        <MudText Typo="Typo.h6">FlowerStore Web</MudText>
        <MudSpacer />
        <MudIconButton Icon="@(_darkMode ? Icons.Material.Filled.LightMode : Icons.Material.Filled.DarkMode)"
            @onclick="@DarkModeSwitch" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudMainContent>
        <div class="px-3 py-3">@Body</div>
    </MudMainContent>
</MudLayout>

@code {
    private bool _darkMode = false;

    async void DarkModeSwitch()
    {
        _darkMode = !_darkMode;
        await ConfigurationService.SetDarkMode(_darkMode);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _darkMode = await ConfigurationService.GetDarkMode();
    }
}